@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

@import "reset.css";

/* Screens */
@import "screens/main.css";
@import "screens/intro.css";
@import "screens/education.css";

/* Components */
@import "components/background.css";
@import "components/status-bar.css";
@import "components/footer.css";
@import "components/footer.css";

body {
    font-family: "Open Sans", sans-serif;
    color: #2e363e;
<<<<<<< Updated upstream
=======
    width: 100%;
>>>>>>> Stashed changes
}
 



