.main-home {
    margin-top: 10%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-home__picture {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.main-home__picture img {
    width: 200px;
    height: 200px;
    border-radius: 20%;
    border: 3px solid #ffffff;
}

.main-home__clock {
    font-size: 10em;
    color: #ffffff;
    font-weight: 400;
    margin-bottom: 30px;
}

.main-home__text {
    width: 60%;
    color: #ffffff;
    font-size: 50px;
}

.main-home__start a {
    display: inline-block;
  background-color: teal;
  padding: 15px 24px;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 11px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 0.5px;
  margin-top: 20px;
}